*{
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}

.top{
    font-size: 4em;
    height: 100%;
    width: 100%;
    background-color: rgb(179,179,179);
}

.middle{
    background-color: rgb(204,204,204);
    height: 100%;
    width: 100%;
}

.bottom{
    height: 100%;
    width: 100%;
    background-color: rgb(255,254,159);
}

.lrg {display: inline;}
.med {display: none;}
.sml {display: none;}


@media only screen and (max-width: 480px){
    .sml{
        display: inline;
    }
    .med{
        display: none;
    }
    .lrg{
        display: none;
    }
}
@media only screen and (min-width: 481px) and (max-width: 1023px){
    .med{
        display: inline;
    }
    .sml{
        display: none;
    }
    .lrg{
        display: none;
    }
}




